.intro__text_margin_top {
  margin-top: 115px;
}

@media screen and (max-width: 1140px) {
  .intro__text_margin_top {
    margin-top: 40px;
  }
}

@media screen and (max-width: 600px) {
  .intro__text_margin_top {
    margin-top: 10px;
  }
}