.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 16px;
}

@media screen and (max-width: 1140px) {
  .photo-grid  {
    grid-gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  }
}

@media screen and (max-width: 984px) {
  .photo-grid  {
    grid-gap: 16px;
  }
}

@media screen and (max-width: 568px) {
  .photo-grid  {
    grid-gap: 12px;
  }
}