.places {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(min-content, 532px)) minmax(min-content, 532px);
  gap: 0;
}

@media screen and (max-width: 1279px) {
  .places {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(min-content, max-content)) minmax(min-content, calc(100vw / 2.4));
  }
}

@media screen and (max-width: 600px) {
  .places {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, minmax(min-content, calc(100vw / 2.4)));

    grid-template-areas: 
    "one"
    "two"
    "three"
    "four"
    "five"
    "six";
  }
}
