.places__title {
  margin: 0;
  width: 100%;
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
  color: #000;
}

@media screen and (max-width: 860px) {
  .places__title {
    font-size: 22px;
    line-height: 26px;
  }
}

@media screen and (max-width: 600px) {
  .places__title {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 15px;
  }
}