.root__header {
  padding: 50px 65px 85px 65px;
}
  
@media screen and (max-width: 1140px) {
  .root__header {
    padding: 25px 40px 40px 40px;
  }
}
    
@media screen and (max-width: 860px) {
  .root__header {
    padding: 15px 20px 20px 20px;
  }
}
    
/*@media screen and (max-width: 568px) {
  .root__header {
    padding: 16px 16px 48px;
  }
}*/