.places__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 65px 70px 65px 70px;
  background-color: #F2F2F2;
}