.people__grid {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, min-content);
  grid-column-gap: 90px;
  margin: 130px 0 0;
  padding: 0;
}

@media screen and (max-width: 1100px) {
  .people__grid {
    grid-column-gap: 50px;
    margin: 100px 0 0;
  }
}

@media screen and (max-width: 860px) {
  .people__grid  {
    grid-column-gap: 15px;
    margin: 50px 0 0;
  }
}

@media screen and (max-width: 860px) {
  .people__grid  {
    grid-column-gap: 15px;
    margin: 20px 0 0;
  }
}

@media screen and (max-width: 600px) {
  .people__grid  {
    grid-row-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
  }
}