.content__intro {
  padding: 0 130px 130px 70px;
}

@media screen and (max-width: 1170px) {
  .content__intro {
    padding: 0 40px 40px 40px;
  }
}
  
/*@media screen and (max-width: 984px) {
  .content__intro {
    padding: 0 24px 88px;
    margin: 0;
  }
}
  
@media screen and (max-width: 568px) {
  .content__intro {
    padding: 0 16px 64px;
  }
}*/