.intro__text {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #ffbc87;
  text-transform: uppercase;
  margin: 0;
}


@media screen and (max-width: 860px) {
  .intro__text {
    font-size: 8px;
    line-height: 10px;
  }
}