.people__title {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  margin: 0 0 30px;
}

@media screen and (max-width: 860px) {
  .people__title {
  font-weight: 600;
  margin: 0 0 15px;
  }
}