.header__list {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  transition: opacity .5s linear;
}

.header__list:hover {
  opacity: .3;
}

@media screen and (max-width: 860px) {
  .header__list {
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  }
}

