.root__footer {
  padding: 0 48px 24px;
}

@media screen and (max-width: 984px) {
  .root__footer  {
    padding: 0 24px 24px;
  }
}
  
@media screen and (max-width: 730px) {
  .root__footer  {
    padding: 0 16px 24px;
  }
}